* {
  box-sizing: border-box;
}
.background-color-darker {
  background-color: #f3df85;
}
body {
  color: #612406;
}
body > main > h2,
body > main > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 2rem;
}
body > main > h1 {
  font-size: 5rem;
}
body > main > h2 {
  font-size: 3rem;
}
.background-color-lighter {
  background-color: #fef7e2;
}
/* PRODUCT CARD */
#all-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.product-card {
  width: 250px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4rem;
  height: 400px;
}

.product-card h2 {
  font-weight: bold;
}
.product-card > img {
  width: 100%;
  height: 250px;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  object-fit: cover;
}
.all-elements-but-image {
  padding-top: 1.5rem;
  padding-inline: 0.5rem;
  padding-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center;
  font-size: 0.8rem;
}
.product-card h2,
.product-card span {
  font-size: 1.2rem;
  align-self: center;
}
.all-elements-but-image button {
  border-radius: 8px;
  flex-shrink: 0;
  width: 60%;
  margin-inline: auto;
  height: 2rem;
  color: #612406;
  border: 0;
  margin-bottom: 1rem;
}
.all-words-product-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* NAV BAR */
#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7rem;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 1rem;
}
#nav-bar div {
  font-family: Arial, Helvetica, sans-serif;
  width: 6rem;
  height: 2rem;
  border-radius: 2rem;
  display: inline;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-self: center;
}
#nav-bar #shop-button {
  font-family: Arial, Helvetica, sans-serif;
  width: 8rem;
  height: 4rem;
  border-radius: 3rem;
  display: inline;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 2rem;
}

#nav-bar #shop-button span {
  margin-inline: auto;
  align-self: center;
  font-size: 1rem;
}

#nav-bar span {
  margin-inline: auto;
  align-self: center;
  font-size: 0.6rem;
}
#nav-bar img {
  width: 35px;
  align-self: center;
}

/* ARTICLE */
article > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
article h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}
article div {
  width: 100%;
  padding: 1.5rem;
  border-radius: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
article img {
  width: 100%;
}
#title-and-article {
  width: 100%;
  padding: 1.2rem;
  padding-left: 0;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  body {
    display: flex;
  }
  main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
  }

  #nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    width: 16rem;
    font-weight: bold;
    padding: 1rem;
    gap: 3rem;
    height: 100vh;
    margin-bottom: 0;
  }
  #nav-bar div {
    width: 12rem;
    height: 5rem;
    padding: 1rem;
  }
  #nav-bar #shop-button {
    order: -1;
    width: 12rem;
    height: 5rem;
    justify-content: space-between;
  }

  #nav-bar #shop-button span {
    font-size: 1.5rem;
    width: 12rem;
    text-align: center;
  }

  #nav-bar span {
    font-size: 1.2rem;
  }
  #nav-bar img {
    width: 60px;
  }
  article > div > div {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  article > div > div > img {
    order: -1;
  }
  #title-and-article {
    padding: unset;
    padding-left: 2rem;
  }
}
